@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* navbar  */
.nav_content-bar{
    min-height: 70px;
}
.navbar-nav a{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* header_section  */
#feature_section{
    height: 110vh;
    max-height: 950px;
    background-image: url('assets/img/feature-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    position: relative;

}
#feature_section::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.feature_content{
    position: relative;
    z-index: 20;
    color: #fff;
}
.feature_content h4{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.feature_content h1{
    font-size: 84px;
    font-weight: 800;
    margin-bottom: 35px;
}
.feature_content p{
    margin-bottom: 65px;
}
.feature_content .feature-btns a{
    padding: 15px 45px;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Main content area  */
.stats_section{
    height: 200px;
    margin-bottom: 100px;
    /* background-color: bisque; */
}
.stats_section h1{
    font-size: 60px;
    font-weight: 700;
}
.stats_section h2{
    font-size: 24px;
    font-weight: 600;
}

/* About section  */
.about_section{
    margin-bottom: 100px;
}
.about_right{}
.text_h4{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.text_h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
}
.about_right h2{
    font-size: 40px;
    color: #73a4aa;
    margin-bottom: 30px;
}
.about_right h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.text_para{
    color: #737373;
    margin-bottom: 50px;
}
.about_right a{
    font-size: 14px;
    font-weight: 700;
}
.about_img3{
    margin-top: -60px;
}

/* choose_section  */
.choose_section{
    background-image: linear-gradient(to bottom, rgb(243, 241, 241) 60%, rgb(255, 255, 255) 40%);
}
.choose_section .text_para{
    margin-left: -40px;
    padding-top: 10px;
}
.choose1{
    position: relative;
}
.choose1 .btn1{
    position: absolute;
    bottom: 30px;
    left: 60px;
}
.choose1 a{
    padding: 10px 30px;
    font-weight: 600;
}

/* Our Service */
.service_section a{
    margin-top: 20px;
    padding: 15px 30px;
    font-weight: 500;
}
.card1{
    background-color: #f9f9f9;
}

/* testimonial_section  */
.testimonial_section{
    height: 100vh;
    max-height: 700px;
    background-image: url(assets/img/testimonial-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.testimonial_section::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(110deg, rgba(0, 0, 0, 0.8) 60%, rgba(255, 255, 255, 0) 40%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.testmonial_content{
    position: relative;
    z-index: 20;
    color: #fff;
}
.author_box{
    background-color: #212121;
    padding: 40px;
}
.author_info div h3{
    font-size: 20px;
    font-weight: 600;
}
.author_info div h5{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}
.author_box blockquote p{
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
}
.member img{
    width: 90px;
    height: 90px;
}
.member h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.member h5{
    font-size: 15px;
    font-weight: 200;
}
.member .fa-facebook, .fa-twitter, .fa-instagram{
    font-size: 20px;
}

/* footer_area  */
.footer_area{
    background-color: black;
    color: #c0bdbd;
}
.footer_site_info img{
    width: 112px;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
}
.footer_copyright .fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram, .fa-pinterest, .fa-behance{
    font-size: 15px;
    margin-right: 10px;
}
.footer_copyright ul{
    list-style-type: none;
    display: flex;
}
.footer_copyright ul > li > a{
    text-decoration: none;
    columns: #faf8f8;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 200;
}
.text-li{
    color: #c0bdbd;
}
.text-li:hover{
    color: #ff6058;
}

.email_subs{
    height: 80px;
    position: relative;
    width: 50%;
    margin: auto;

    margin-top: -60px;

}

.user_email{
    width: 100%;
    height: 70px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;

    box-shadow: 1px -1px 10px rgb(233, 233, 233);
    position: absolute;
    left: 0;
    top: 0;
}

.submit_btn{
    position: absolute;
    right: 0;
    top: 10px;

    height: 50px;
    border-radius: 50px;
    font-weight: 500;
    margin-right: 10px;
}
.footer_logo_para{
    margin: auto;
    width: 50%;
    text-align: center;
}

/* Mobile responsive  */
@media screen and (max-width: 992px) {
    .feature_content h1{
        font-size: 50px;
    }
    .stats_section{
        height: 400px;
    }
    .choose_section .text_para{
        margin-left: 0;
    }
    .email_subs{
        width: 90%;
    }
    .footer_logo_para{
        width: 100%;
        text-align: justify;
    }
}