@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* navbar  */
.nav_content-bar{
    /* background-color: rgb(56, 56, 56); */
    height: 70px;
}
.navbar-nav a{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* header_section  */
.feature_section{
    height: 100vh;
    max-height: 945px;
    background-image: url("assets/img/feature-img.jpg");
}